<nav class="navbar navbar-expand-lg navbar-light header__menu">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><span class="header__logo-text">EALTEC</span><span class="header__logo-plus">+</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><span>Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span>Noticias</span></a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success header__btn-search" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="header__top"></div>
